{% extends 'timesheet/base.html' %}


{% block extra-styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>
{% endblock extra-styles %}

{% block main %}

<div class="container bg-3 text-center">

	<p class="h4">
      <a href="{% url timesheet_listboard_url %}" class="btn btn-default btn-lg"><i class="fa fa-user-circle fa-lg"></i> My Timesheets</a>
    </p>
	{% if 'HR' in groups %}
      <p class="h4">
        <a href="{% url timesheet_employee_listboard_url %}?p_role=HR&edc_readonly=1" class="btn btn-default btn-lg"><i class="fa fa-user-plus fa-lg"></i> All Employees</a>
      </p>
	{% endif %}
    {% if 'Supervisor' in groups %} 
      <p class="h4">
        <a href="{% url timesheet_employee_listboard_url %}?p_role=Supervisor&edc_readonly=1" class="btn btn-default btn-lg"><i class="fa fa-user-circle fa-lg"></i> Surbodinates</a>
      </p>
	{% endif %}

</div>

{% endblock main %}
